.dashboard__items{
    background: #F8F9FA;
    border-radius: 8px;
    padding: 12px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__items .mantine-92opmx {
    width: 100%;
}

.dashboard__number {
    text-align: center;
    font-size: 5rem;
}

.dashboard__radial-chart {

}

.dashboard__resumes {
    margin-top: 16px;
}

.recharts-wrapper, .recharts-wrapper svg  {
    width: 100% !important;
}

.recharts-wrapper svg {
    scale: 1.5;
}